html, body {
    height: 100%;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    gap: 0;
    display: flex;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    border: none;
    border-radius: 0;
    color: #495057;
    background-color: transparent;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
    color: #007bff;
}

.nav-tabs .nav-link.active {
    color: #007bff;
    background-color: transparent;
    border-bottom: 2px solid #007bff;
}

.tab-content {
    border: none;
    padding: 20px;
    background-color: transparent;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand svg {
    margin-right: 10px;
}

.navbar-brand-text {
    font-size: 1.25rem;
    font-weight: bold;
}

.navbar-brand-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar-brand {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand svg {
        margin-bottom: 5px;
    }

    .navbar-brand-text {
        position: static;
        transform: none;
        margin-top: 5px;
    }
}

.mt-3 {
    margin-top: 1rem;
}





/* tab content */
#id-selections .tab-content {
  color : black;
  background-color: white;
}

